<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/receipt.css')}}">
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <address>
                            <strong>COFFEE CREEK</strong>
                            <br>
                            2135 Sunset Blvd
                            <br>
                            MANGALORE
                            <br>
                            <abbr title="Phone">ph:</abbr> 0824-2295801
                        </address>
                    </div>
    
                <div class="row">
                    <div class="text-center">
                        <h1>Receipt</h1>
                    </div>
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>#</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td class="col-md-9"><em>  Chicken Wrap</em></h4></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center">₹80</td>
                                <td class="col-md-1 text-center">₹80</td>
                            </tr>
                            <tr>
                                <td class="col-md-9"><em>  Fresh Fruit Juice</em></h4></td>
                                <td class="col-md-1" style="text-align: center">1</td>
                                <td class="col-md-1 text-center">₹60</td>
                                <td class="col-md-1 text-center">₹60</td>
                            </tr>
                            
                            <tr>
                                <td> </td>
                                <td> </td>
                                <td class="text-right"><h4><strong>Total:</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>₹140</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
     <!--              <button type="button"  class="btn btn-success btn-lg btn-block">
                        Pay Now<span class="glyphicon glyphicon-chevron-right"></span>
                    </button>       -->
                     <button type="button"><a href="/">PAYMENT</a></button>    
                </td>
                </div>
            </div>
        </div> 
</body>
</html>